body {
    font-family: 'Rokkitt', serif;    
    margin: 1rem;
}
input, label {
    vertical-align: middle;
}
input {
    padding: 0.1em 0.3em;
}

button {
    padding: 0.5em 1.5em;
    margin: 0.5rem 1rem 0 0;
}
button:last-of-type {
    margin-right: 0;
}

.button-container {
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin: 0;
}

fieldset {
    border-width: 0px;
}

#the-canvas {
    border: 3px solid red;
    margin: 0;
}

.fa-circle {
    font-size: 75%;
}

.vaccinated {
    color: #4040FF;
}

.unvaccinated {
    color: #DDDD20;
}

.infected {
    color: #FF0000;
}

li {
    list-style: none;
}

p, dl {
    max-width: 60rem;
}

.full-screen {
    width: 100vw;
    height: 100vh;
}
.full-screen .button-container {
    text-align: center;
}
.full-screen #the-canvas {
    margin-left: 10vw;
}

dt {
    font-size: 105%;
    font-weight: bold;
}

.short-number {
    width: 2.7em;
}
.short-number + input {
    width: 11.8em;
}
.long-number + input {
    width: 10.5em;
}

.long-number {
    width: 4em;
}
#control-set label {
    width: 16em;
    display: inline-block;
}
.button-container label {
    margin: auto 0.5em auto 1em;
}

.no-break {
    display: inline-block;
}

#plus-one {
    font-weight: bold;
}

@media (min-width: 801px) {
    html {
         margin: 2rem 0 0 3rem;
    }
}