body {
    font-family: serif;
    font-size: 110%;
    margin: 2rem;
}
fieldset {
    border: 0px;
}
input, label {
    vertical-align: middle;
}
input {
    padding: 0.1em 0.3em;
}

button {
    margin: 1rem 0.2rem;
    padding: 0.5em 1em;
}

#the-canvas {
    border: 3px solid red;
    margin: 1rem;
}

.fa {
    font-size: 75%;
}

.vaccinated {
    color: #4040FF;
}

.unvaccinated {
    color: #DDDD20;
}

.infected {
    color: #FF0000;
}

li {
    list-style: none;
}
